* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.home {
  text-align: center;
  height: max-content;
  overflow-x: hidden;
  background-color: #fff;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(126, 189, 247, 1) 86%, rgba(126, 189, 247, 1) 100%);
}

.home.darkMode {
  text-align: center;
  height: max-content;
  overflow-x: hidden;
  background-color: #fff;
  background-image: linear-gradient(180deg, rgb(77, 77, 77) 0%, rgba(126, 189, 247, 1) 86%, rgba(126, 189, 247, 1) 100%);
}
