.navbarItems {
  background-color: #ffffffd0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 60px;
  border-radius: 13px;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
  transition: background-color 0.5s ease, color 0.5s ease, top 0.5s ease;
}

.navbarItems.darkMode {
  background-color: #292929d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  box-shadow: 0 10px 25px 0 rgba(255, 255, 255, 0.411);
  width: 95%;
  height: 60px;
  border-radius: 13px;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;
  transition: background-color 0.5s ease, color 0.5s ease, top 0.5s ease;
}

.scrolled {
  top: -100px; /* Menggeser navbar di luar tampilan */
}

.darkMode.scrolled {
  top: -100px; /* Menggeser navbar di luar tampilan */
}

.logoContainer {
  display: flex;
  justify-content: center;
  width: 20%;
}

.navbar-logo {
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 5px;
  list-style: none;
  align-items: center;
}

.nav-menu li {
  display: flex;
  align-items: center;
}

.menu-icon.darkMode {
  color: rgb(219, 219, 219);
}
.menu-title.darkMode {
  color: rgb(219, 219, 219);
}
.submenu-arrow.darkMode {
  color: rgb(219, 219, 219);
}

.menu-icon svg {
  font-size: 17px;
  margin-right: 5px;
  margin-top: -2px;
  vertical-align: middle;
}

.menu-icon-home svg {
  font-size: 17px;
  margin-right: 5px;
  margin-top: -4px;
  vertical-align: middle;
}
.submenu-arrow {
  margin-right: -7px;
  vertical-align: middle;
}

.menu-icons {
  display: none;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
}

.nav-links {
  display: flex;
  text-decoration: none;
  color: #222;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  white-space: nowrap;
  border-radius: 6px;
  transition: all ease-in-out 0.2s;
}

.nav-links i {
  padding-right: 10px;
}

.nav-links:hover {
  background-color: rgb(36, 124, 255);
  color: #fff;
  border-radius: 5px;
}

.nav-links-mobile {
  display: none;
}

.containerMenu {
  height: 75px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.configure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.language {
  border: 1px solid grey;
  border-radius: 3px;
}

.language-button {
  cursor: pointer;
  border: none;
  font-size: 15px;
  padding: 1px 3px;
  border-radius: 2px;
}

.language-button.active {
  background-color: red;
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
}

/* Style for the dropdown menus */
.dropdown-menu,
.dropdown-menu2 {
  text-align: start;
  opacity: 0;
  display: none;
  position: absolute;
  top: 115%;
  padding: 10px;
  border-radius: 5px;
  background-color: #fffffff5;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 0.3s, transform 0.3s;
}
.dropdown-menu.darkMode,
.dropdown-menu2.darkMode {
  background-color: #292929d0;
  box-shadow: 0 10px 25px 0 rgba(255, 255, 255, 0.411);
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Show the dropdown menu with fade-up effect when hovering over the parent container */
.containerMenu:hover .dropdown-menu,
.containerMenu:hover .dropdown-menu2 {
  opacity: 1;
  display: block;
  animation: fadeUp 0.3s ease-in-out;
}

/* Add arrow indicator */
.containerMenu:hover .dropdown-menu::before,
.containerMenu:hover .dropdown-menu2::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border: solid transparent;
  border-width: 0 8px 8px 10px;
  border-color: transparent transparent #fffffff5 transparent;
}

/* Add arrow indicator */
.containerMenu:hover .dropdown-menu.darkMode::before,
.containerMenu:hover .dropdown-menu2.darkMode::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  border: solid transparent;
  border-width: 0 8px 8px 10px;
  border-color: transparent transparent #292929d0 transparent;
}

/* Style for the individual dropdown items */
.dropdown-menu li,
.dropdown-menu2 li {
  padding: 5px;
}

.dropdown-menu li .subMenu,
.dropdown-menu2 li .subMenu {
  width: 100%;
}

/* Style for the links in the dropdown items */
.dropdown-menu a,
.dropdown-menu2 a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 15px;
  transition: all 0.2s ease-in-out;
}

/* Style for the links in the dropdown items */
.dropdown-menu.darkMode a,
.dropdown-menu2.darkMode a {
  color: rgb(219, 219, 219);
}

/* Change background color on hover */
.dropdown-menu a:hover,
.dropdown-menu2 a:hover {
  background-color: rgb(36, 124, 255);
  color: #fff;
  border-radius: 5px;
}

@media screen and (max-width: 850px) {
  .navbarItems {
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: 0.3s ease-in-out;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .containerMenu {
    width: 100%;
  }

  .nav-menu li .containerMenu .nav-links {
    width: 50%;
    display: flex;
    justify-content: center;
    left: -50px;
  }

  .nav-links {
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
  }

  .nav-links:hover {
    background-color: rgb(38, 139, 255);
    transition: none;
  }

  .menu-icons {
    display: block;
    cursor: pointer;
  }

  .menu-icons {
    font-size: 2rem;
    color: #222;
  }

  .nav-menu li .containerMenu .dropdown-menu {
    position: absolute;
    top: 53%;
    transform: none;
    background-color: #fff;
  }

  .nav-menu li .containerMenu .dropdown-menu2 {
    position: absolute;
    top: 73%;
    transform: none;
    background-color: #fff;
  }
}
