.middleContainer {
  background-color: rgb(245, 245, 245);
  height: max-content;
  z-index: 9;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  border-radius: 13px;
  left: 50%;
  transform: translate(-50%, -1%);
  position: relative;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.middleContainer.darkMode {
  background-color: #292929;
  box-shadow: 0 10px 25px 0 rgba(255, 255, 255, 0.411);
  transition: background-color 0.5s ease, color 0.5s ease;
}
