.countContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 2rem;

  .count {
    position: relative;
    width: 17rem;

    h1 {
      margin-bottom: 15px;
      font-size: 3rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background: linear-gradient(to bottom, rgb(0, 153, 255), rgb(0, 122, 223));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    h3 {
      margin-bottom: 10px;
      color: rgb(100, 100, 100);
    }

    p {
      color: grey;
    }
  }

  .count:not(:last-child)::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgb(206, 206, 206);
    right: -1rem;
    top: 0;
  }
}

@media screen and (max-width: 850px) {
  .countContainer {
    flex-direction: column;
  }
}
